<h1>Admin Dashboard</h1>

  <table class="table table-bordered">
    <thead class="thead">
      <tr>
        <th>Type</th>
        <th>Total Counts</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= link_to "Products", admin_products_path %></td>
        <td> <%= @products %> </td>
      </tr>

      <tr>
        <td><%= link_to "Category", admin_categories_path %></td>
        <td> <%= @categories %> </td>
      </tr>
    </tbody>
  </table>
