<h1>About Us </h1>

<p> The forest was large, shadowy, and verdant. Its canopy was dominated by sycamore, willow, and crab apple, who left just enough light for disorderly ferns to control the moist and fertile bottom layer below.
Curving vines waved from a couple of trees, and a variety of flowers, which clung to any space they could find, spruced up the otherwise beige forest floor.
A variety of wild noises, most of which were bird songs, echoed in the air, and were in harmony with the splashing of fish in a nearby lake. </p>

<%= image_tag("train.jpg", alt: "train in forest")%>%
